body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
    background-color: #a2c9ff;
}

header {
    background-color: #226bd9;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav ul {
    color:#4283e3;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #226bd9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}